.ArticlePreviewContainer {
  width: 100%;
  display: flex;
  padding: 20px 0;
  font-family: 'Spectral', serif;
}

.ArticleTitle {
  margin-top: 16px;
  margin-bottom: 8px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #0a0a0b;
}

.ArticleDetails {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.ImageThumbnail {
  flex: 0 0 160px;
  height: 228px;
  background: #f4f4f6;
  border-radius: 20px;
  margin-right: 20px;
}

.ReadMore {
  font-style: normal;
  font-weight: 450;
  font-size: 16px;
  line-height: 24px;
  color: #0a0a0b;
}

.ReadMoreAndTagsContainer {
  display: flex;
  justify-content: space-between;
}

.ArticleMeta {
  display: flex;
  justify-content: space-between;
}

.ArticleAuthor {
  color: #0a0a0b;
}

.ArticleDate {
  font-size: 12px;
  line-height: 16px;
  color: #62626a;
}

.AuthorAndInfo {
  display: flex;
  align-items: flex-start;
}

.AutorsAvatar {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.ArticleInfo {
  margin-left: 8px;
}

.ArticleTag {
  font-weight: 450;
  font-size: 12px;
  line-height: 16px;
  color: #0a0a0b;
  background: #f4f4f6;
  padding: 4px 8px;
  border: 1px solid #e0e0e0;
  border-radius: 100px;

  flex: none;
  order: 3;
  flex-grow: 0;
  margin: 0 4px;
}

.Favorites {
  font-weight: 450;
  font-size: 20px;
  line-height: 24px;
  color: #0a0a0b;
  cursor: pointer;
  display: flex;
  align-items: center;
}
